*, body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

header {
    border: 1px solid red;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: salmon;
}
header h2{
    text-align: center;
}

nav {
    border: 1px solid indigo;
    border-radius: 10px;
    background-color: violet;
}
nav h2 {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu h2 {
    border: 1px solid blue;
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

footer {
    border: 1px solid salmon;
    border-radius: 10px;
    text-align: center;
    background-color: blanchedalmond;
}
